pycache/*
MediAlertServer/__pycache__/*
MediAlertServerApp/__pycache__/*
MediAlertServer/__pycache__/*
MediAlertServerApp/management/__pycache__/*
MediAlertServerApp/management/commands/__pycache__/*
MediAlertServerApp/migrations/*
MediAlertServerApp/migrations/__pycache__/*
